<!DOCTYPE html>
<html>
  <head>
    <title>Syllabus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS de Bootstrap -->
    <link href="file:///C|/Users/Mario/Desktop/PythonApp/pyClass/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
    body {
	background-color: #E4E4E4;
}
    </style>
  <meta charset="utf-8">
  </head>  
  
  
  <header>
  	<nav class="navbar navbar-default" role="navigation">
  	<!-- Brand and toggle get grouped for better mobile display -->
  	<div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span>
      	 <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="#"><h2>SYLLABUS</h2></a>
    </div>

  	<!-- Collect the nav links, forms, and other content for toggling -->
  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav">
    	</ul>
    	
    	<ul class="nav navbar-nav navbar-right">
        
          <form class="navbar-form navbar-left" role="search" action="\validateUser" method="get">
          	<div class="form-group">
           	  <input type="text" class="form-control" placeholder="username" name="usernameText">
          	</div>
            <div class="form-group">
            	<input type="password" class="form-control" placeholder="password" name="passwordText">
          	</div>
          	<button name="login" type="submit" class="btn btn-success">Login</button>
       	  </form>
        
      	<li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
        		<ul class="dropdown-menu">
          			<li><a href="#">Contact</a></li>	
          				<li class="divider"></li>
          			<li><a href="#">Help</a></li>
        	</ul>
      	</li>
    	</ul>
  	</div><!-- /.navbar-collapse -->
	</nav>
</header>	
  
<body>
  <div class="row">
  	      <div class="col-md-6">
        <h2>Sign Up</h2><br><br>
          <form role="form" action="/newUser" method="post">
          <div class="form-group">
            	<label for="exampleInput">Identification</label>
            	<input type="text" name="identification" class="form-control" id="identificationUser" placeholder="Enter your number identificacion">
          	</div>
          
          	<div class="form-group">
           	  <label for="exampleFirstName">FirstName</label>
           	  <input type="text" name="firstname" class="form-control" id="firstnameUser" placeholder="Enter your firstname">
          	</div>
            
            <div class="form-group">
           	  <label for="exampleInputLastName">LastName</label>
           	  <input type="text" class="form-control"  name="lastname" id="lastnameUser" placeholder="Enter your lastname">
          	</div>
            
            <div class="form-group">
            	<label for="exampleInputTypeUser">Type User</label>
            <select class="form-control" id="typeuser" name="typeuser">
       		  <option value="0">Student</option>
			  <option value="1">Teacher</option>
			  <option value="2">Partner</option>
			  <option value="3">Technician</option>
            </select>
            
            <div class="form-group">
           	  <label for="exampleInputEmail">Email</label>
           	  <input type="email" class="form-control" id="emailUser" placeholder="Enter your email" name="email">
          	</div>
            
          	<div class="form-group">
            	<label for="exampleInputPassword1">Password</label>
            	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
          	</div>
          
          	<button type="submit" class="btn btn-success" name="signup">Sign Up</button>
        </form>
      </div>
  </div>
  
  <div class="col-md-6">
  	<div class="jumbotron">
  		<h2>Aqui pueden añadir cualquier cosa</h2>
  			<p>...</p>
  		<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
	</div>
  </div>
  
  
     
 
<!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
 
    <!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
    <script src="file:///C|/Users/Mario/Desktop/PythonApp/pyClass/js/bootstrap.min.js"></script>
  </body>
</html>